
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather&family=Sacramento&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather&family=Montserrat:wght@400;700&family=Sacramento&family=Ubuntu&display=swap');
body{
    font-family: Montserrat- ;
}

#title{
    background-color:#ff4c68;
    color: #fff;
   
    
    
}

h1{
      font-family: Montserrat;
      font-size: 3rem;
      line-height: 1.5;
      font-weight: 800;
}
h2{
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.5;
    font-size:3rem;
}

.container-fluid{
    padding: 3% 15% 8%;
}

/* Navigation table */

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight:bold
}
.navbar{
    padding-bottom: 5.6rem;
}

.nav-item{
    padding: 0 10px;
}

.nav-link{
    font-size: 1.2rem;
}


/* download button */
.row .btn{
    margin: 5% 3% 5% 0;
}

/* title-image */
.title-image{
    width:20rem;
    transform: rotate(25deg);
   z-index: 0;
    position: absolute;
    margin: 3rem;
    


}


/* features section */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    
}
.features-box{
    text-align: center;
    padding: 4%;
}

.features-box h3{
    font-family:Montserrat;
    font-weight: 800;
}
.features-box p{
 color: #8f8f8f;
}

#features .fa-solid{
    margin-bottom: 1rem;
    color: #ef8172;
}
#features .fa-solid:hover{
    color: #e66a59;
}

/* Testimonials section */

#testimonials{
   
    text-align: center;
   background-color: #ef8172;
    color:#eff;
}

.carousel-item{
    padding:7% 15%;
}


.Testimonials-image{
    border-radius: 100%;
    width: 10%;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width:15%;
    padding: 20px 20px 50px;
}


/* for card */

#pricing{
    text-align: center;
}


.card-deck{
 
   width: 100%;
   text-align: center;
   
}

/* .price-tag{
    margin:  0.5rem 1px;
    width: 27%;
    
}  */

/* call to action */
#cta{
    background-color: #e66a59;
    text-align: center;
    height: 20rem;
    padding: 5%;
}


#cta h3{
    font-family:Montserrat;
    font-weight: 800;
    line-height: 1.3;
}
#cta .btn{
    margin: 4rem 1rem;
}


#footer{
    text-align:center ;
    background-color: rgb(14, 1, 1);
    padding: 8px auto 0 auto;
    color: white;
    font-family: "Ubuntu";
    

}
#footer p{
    margin-bottom: 0px;
}